@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

.light {
    --primary-color: #222222;
    --light-primary-color: #4e8cff;
    --secondary-color: #6c757d;
    --light-secondary-color: #8c959d;
    --highlight-color: #28a745;
    --light-highlight-color: #48c768;
    --background-color: #f8f9fa;
    --modal-color: #f3f3f3;
    --text-color: #333;
    --link-color: #007bff;
}

.dark {
    --primary-color: #00000027;
    --light-primary-color: #3866ab;
    --secondary-color: #6c757d;
    --light-secondary-color: #8c959d;
    --highlight-color: #198754;
    --light-highlight-color: #42b983;
    --background-color: #212529;
    --modal-color: #18191a;
    --text-color: #fff;
    --link-color: #0d6efd;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scrollbar-width: none;
    outline: none;
    cursor: normal;

    &::-webkit-scrollbar {
        display: none;
    }

}

body {
    background-color: var(--background-color);
}