.containe {

    .body {
        display: flex;

        .left {
            color: var(--text-color);
            //border: 1px solid blue;
            background-color: var(--modal-color);
            width: 180px;
            height: 100vh;

            .side {
                display: flex;
                flex-direction: column;

                .top-side {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .user {
                        margin-bottom: 50px;
                        padding: 40px;

                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 100px;
                            border: 2px solid var(--secondary-color);
                            user-select: none;
                        }

                    }

                }

                .cont-items {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .item-side {
                        text-align: center;
                        font-size: 18px;
                        user-select: none;
                        //background-color: red;
                        width: 100%;
                        padding: 8px;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        cursor: pointer;
                    }

                }

            }

        }

        .right {
            color: var(--text-color);
            width: calc(100% - 180px);
            //border: 1px solid red;

            .content {
                width: calc(100vw - 185px);
                height: 100vh;
                padding: 40px;
                overflow: scroll;

                .header {
                    position: relative;
                    display: flex;
                    align-items: center;

                    .banner {
                        
                        .banner {
                            display: block;
                            width: calc(100vw - 260px);
                            height: 600px;
                            background-image: url("https://images.wallpaperscraft.com/image/single/code_programming_monitor_209719_2560x1080.jpg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            border-radius: 10px;
                        }

                    }

                    .me-user {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);

                        .user {
                            width: 200px;
                            height: 200px;
                            border-radius: 100px;
                        }

                        .info {
                            user-select: none;
                            margin-top: 40px;

                            .name {
                                font-size: 40px;
                                font-weight: bold;
                            }

                        }

                    }

                }

            }

        }

    }

}